In [1]:
import pandas as pd

raw_df = pd.read_csv("dataSets/data.csv", index_col = 0)
df = raw_df.set_index("ID").drop(columns=["Photo", "Flag", "Club Logo"])

In [2]:
df.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
ID,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,2202,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,2228,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,2143,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,1471,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,2281,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [3]:
labels = df.columns.to_list()

In [4]:
labels

['Name',
 'Age',
 'Nationality',
 'Overall',
 'Potential',
 'Club',
 'Value',
 'Wage',
 'Special',
 'Preferred Foot',
 'International Reputation',
 'Weak Foot',
 'Skill Moves',
 'Work Rate',
 'Body Type',
 'Real Face',
 'Position',
 'Jersey Number',
 'Joined',
 'Loaned From',
 'Contract Valid Until',
 'Height',
 'Weight',
 'LS',
 'ST',
 'RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB',
 'Crossing',
 'Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'Curve',
 'FKAccuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'SprintSpeed',
 'Agility',
 'Reactions',
 'Balance',
 'ShotPower',
 'Jumping',
 'Stamina',
 'Strength',
 'LongShots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'StandingTackle',
 'SlidingTackle',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes',
 'Release Clause']

In [5]:
labels[16]

'Position'

In [6]:
position_labels = labels[23:49]

In [7]:
position_labels.append(labels[16])
position_labels.append("Name")

In [8]:
position_labels

['LS',
 'ST',
 'RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB',
 'Position',
 'Name']

In [9]:
df_position = df[position_labels]

In [10]:
df_position.head()
df_position.set_index("Name")
df_position.dropna(inplace=True)

c:\users\morpheus\desktop\datascience\datascience\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df_position.set_index("Name", inplace=True)
df_position.head()

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Position
Name,,,,,,,,,,,,,,,,,,,,,
L. Messi,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,...,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,RF
Cristiano Ronaldo,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,...,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,ST
Neymar Jr,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,...,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,LW
K. De Bruyne,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,...,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,RCM
E. Hazard,83+3,83+3,83+3,89+3,88+3,88+3,88+3,89+3,89+3,89+3,...,63+3,63+3,63+3,66+3,60+3,49+3,49+3,49+3,60+3,LF

In [12]:
df_position.describe()

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Position
count,16122,16122,16122,16122,16122,16122,16122,16122,16122,16122,...,16122,16122,16122,16122,16122,16122,16122,16122,16122,16122
unique,93,93,93,105,102,102,102,105,101,101,...,99,99,99,95,98,108,108,108,98,26
top,61+2,61+2,61+2,63+2,61+2,61+2,61+2,63+2,61+2,61+2,...,62+2,62+2,62+2,61+2,61+2,63+2,63+2,63+2,61+2,ST
freq,705,705,705,745,713,713,713,745,744,744,...,660,660,660,713,669,634,634,634,669,2152

In [13]:
df_position[position_labels[:-2]].head()

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
Name,,,,,,,,,,,,,,,,,,,,,
L. Messi,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,...,64+2,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2
Cristiano Ronaldo,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,...,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3
K. De Bruyne,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
E. Hazard,83+3,83+3,83+3,89+3,88+3,88+3,88+3,89+3,89+3,89+3,...,66+3,63+3,63+3,63+3,66+3,60+3,49+3,49+3,49+3,60+3

In [14]:
for label in position_labels[:-2]:
    for cell in df_position[label]:
        cell = pd.eval(cell)
df_position.describe()

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Position
count,16122,16122,16122,16122,16122,16122,16122,16122,16122,16122,...,16122,16122,16122,16122,16122,16122,16122,16122,16122,16122
unique,93,93,93,105,102,102,102,105,101,101,...,99,99,99,95,98,108,108,108,98,26
top,61+2,61+2,61+2,63+2,61+2,61+2,61+2,63+2,61+2,61+2,...,62+2,62+2,62+2,61+2,61+2,63+2,63+2,63+2,61+2,ST
freq,705,705,705,745,713,713,713,745,744,744,...,660,660,660,713,669,634,634,634,669,2152